P.InfoBlue {FONT-SIZE: 12pt;  MARGIN: 0pt 0pt 6pt 38.25pt;  LINE-HEIGHT: 12pt;  FONT-FAMILY: Arial;  tab-stops: 63.0pt; }
SPAN.char-menu {color:windowtext; text-decoration:none; }
SPAN.char-menu A {color:windowtext; text-decoration:none; }
